apiVersion: v1
kind: Secret
metadata:
  name: taskmanager-secret
  namespace: taskmanager
  labels:
    app.kubernetes.io/name: taskmanager
    app.kubernetes.io/component: secret
type: Opaque
stringData:
  DATABASE_URL: "postgres://USER:PASSWORD@postgres-service:5432/taskmanager?sslmode=disable"
  POSTGRES_USER: "USER"
  POSTGRES_PASSWORD: "PASSWORD"
  POSTGRES_DB: "taskmanager"
